langchain
langchain-core
langchain-community
langchain-classic

# LLM Providers

langchain-mistralai
mistralai

# Vector Database

chromadb

# Document Loaders dependencies

pypdf

# Text Processing

tiktoken

# Environment Variables

python-dotenv

# UI (optional)

streamlit
